anyio==4.12.1
beautifulsoup4==4.14.3
black==26.1.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
fake-useragent==2.2.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
iniconfig==2.3.0
librt==0.7.8
loguru==0.7.3
lxml==6.0.2
mypy==1.19.1
mypy_extensions==1.1.0
numpy==2.4.1
packaging==26.0
pandas==3.0.0
pathspec==1.0.4
platformdirs==4.5.1
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytokens==0.4.0
requests==2.32.5
ruff==0.14.14
selectolax==0.4.6
six==1.17.0
soupsieve==2.8.3
tenacity==9.1.2
tqdm==4.67.1
types-requests==2.32.4.20260107
typing_extensions==4.15.0
urllib3==2.6.3
